@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

@layer components {
  li{
    @apply mb-2
  }
  li p{
    @apply p-2 w-max m-0
  }
  .left, .right{
    @apply whitespace-normal max-w-[70%] min-w-[55%] w-full rounded-t-xl
  }
  .left{
    @apply self-start shadow-sm text-Moderate-Violet bg-white text-start rounded-br-xl rounded-bl-sm
  }
  .left:has(input){
    @apply flex flex-row justify-between justify-center items-center bg-gradient-to-r from-Light-Magenta to-Light-Violet
    p-3
  }
  .left > div{
    @apply flex justify-between text-white
  }
  .left input{
    @apply w-3 h-3 bg-white  flex items-center justify-center rounded-full
    bg-transparent border border-Very-Light-Magenta outline-none appearance-none
    placeholder:text-Very-Light-Magenta
  }
  .left label{
    @apply pl-3
  }
  .left .price{
    @apply text-sm font-bold
  }
  .right{
    @apply self-end shadow-md text-Desaturated-Dark-Violet bg-white text-start rounded-bl-xl rounded-br-sm
  }
  .right ul{
    @apply flex flex-row 
  }
  .right:has(img){
    @apply bg-transparent shadow-none
  }
  .right ul li img{
    @apply max-w-[2.5rem] rounded-md ml-2
  }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
